*{
  box-sizing: border-box;
}
header{
  
  background-color: #ff0000;
  text-align: center;
  width: 100%;
  height: 86px;
  font-family: 'Open Sans', sans-serif;
  border: 8px solid black;
   
}
aside{
  background: skyblue;
  float: left;
  padding: 50px;
  border: 8px solid black;
  height: 10%;
}
section{
  display: table-cell;
  padding-left: 30px;
   float: left;
   width : 80%;
}
footer{
  background-color: #ff0000;
  text-align: center;
  width: 100%;
  height: 86px;
  font-family: 'Open Sans', sans-serif;
  border: 8px solid black;
  line-height: 70px; 
  bottom: 15px;
  position: fixed; 
  
}
p{
  text-align: center;
}