.Picture{
	background-color: red;
    
}
table table tr td:first-child{
	text-align: right;
	font-weight: bold;
}
table table tr td{
	height: 25px;
}
table tr td img{
	border-radius: none;
	width: 150px;
	height: 180x;
}
table tr td{
	background-color: red;
}
td.nasted-table-holder td{
	background: none;
}